<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Wealth Robo Advisory
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="outer-content" sc> 
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
      <span class="sr-only">70% Complete</span>
    </div>
  </div>
 
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <div class="w3-container">

    <h2>Your Financial HEALTH SCORE</h2>
    <h4>529/1000</h4>
    <div class="w3-border">
      <div class="w3-grey" style="height:24px; width:53%;"></div>
    </div>
    <p>Financial Health Score tells you about the current status of your financial health</p>
    <p>To improve your Financial Health</p>


    <p>Start with Robo Advisory <a target="_blank" rel="noopener noreferrer" href="https://www.reliancesmartmoney.com/">Subscribe</a></p>
    
    
    </div>

    <div class="card-div">
    <ion-card class="ra-card">
      <ion-card-header>
        <ion-col>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      </ion-col>
       <ion-col> <ion-card-title> 1/4</ion-card-title></ion-col>
        <ion-card-subtitle>Goals Achieveable</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        <ion-icon name="radio-button-on" class="icon"></ion-icon>
      </ion-card-content>
    </ion-card>
  <ion-card class="ra-card">
    <ion-card-header>
      <ion-col>
      <link rel="stylesheet" 
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<i class="fa fa-rupee"></i></ion-col>
     <ion-col> <ion-card-title>  1,95,736</ion-card-title></ion-col>
      <ion-card-subtitle>Your Surplus</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <ion-icon name="basket" class="icon"></ion-icon>
    </ion-card-content>
  </ion-card>
  <ion-card class="ra-card">
    <ion-card-header>
      <ion-col>
      <link rel="stylesheet" 
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<i class="fa fa-rupee"></i></ion-col>
     <ion-col> <ion-card-title>  11,10,387</ion-card-title></ion-col>
      <ion-card-subtitle>Your Networth</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <ion-icon name="basket" class="icon"></ion-icon>
    </ion-card-content>
  </ion-card>
  <ion-card class="ra-card">
    <ion-card-header>
      <ion-col>
      <link rel="stylesheet" 
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <i class="fa fa-rupee"></i></ion-col>
     <ion-col> <ion-card-title>36400</ion-card-title></ion-col>
      <ion-card-subtitle>Potential Savings Growth</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <ion-icon name="basket" class="icon"></ion-icon>
    </ion-card-content>
  </ion-card>

</div>
  <ion-card>
    <ion-item href="#" class="ion-activated">
      <ion-icon name="wifi" slot="start"></ion-icon>
      <ion-label>Card Link Item 1 activated</ion-label>
    </ion-item>
  
    <ion-item>
      <ion-icon name="walk" slot="start"></ion-icon>
      <ion-label>Card Button Item 2</ion-label>
    </ion-item>
  </ion-card>
  <div class="rajat"></div>
</ion-content>

<ion-footer>
  <ion-button class="btn" expand="block" (click)="nextPage()">Continue</ion-button>
</ion-footer>
