#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  font-family:"Muli-Regular";
  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.ra-card{
  font-family:"Muli-Regular";
  display: inline-block;
}
.ra-card:hover{
  overflow: hidden;
  background-color: lightseagreen;
  // color: lightseagreen;
  align-items: center;
}
.icon{
  height: 100px;
  width:100px;
}
// .ion-card:hover{
//   color: lightgoldenrodyellow;
// }

.rajat {
  padding: 0px 30px 0px 30px;
  width: 200px;
  height: 100px;
  background: #FFB6C1;
  transition: background-color 2s ease-out 100ms
  // align-items: center;
}

.rajat:hover {
  background-color: #FF1493;
}

.card-div{
  display: flex-box;
}